.chatroom-index {
  margin: 64px 5px 0;
  height: 50%;
  width: 200px;

  &--new {
    a {
      text-decoration: none;
      font-weight: bold;
      color: #3f94f9;
      margin-left: 15px;
    }
  }

  &--name {
    text-align: center;
  }

  &--button {
    width: 100%;
    background: #3f94f9;
    border: none;
    padding: 10px 30px;
    color: white;
    cursor: pointer;
    font-weight: bold;
    margin-bottom: 10px;
  }
}
