.message
  .message--header
    %span.message--author
      = message.user.name
    %span.message--time
      = message.created_at
  .message--text
    - message.text.lines.each do |line|
      %p= line
